<!DOCTYPE html>
<html lang="en" xmlns:th="http://tymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>EmpleosApp | Creación de Ofertas de Trabajo</title>
    <link rel="icon" th:href="favicon.ico" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">EmpleosApp</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Menu 1</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Menu 2</a>
              </li>
            </ul>
            <span class="navbar-text ms-auto">
              <a class="btn btn-primary" href="#">Ingresar</a>&nbsp;
              <a class="btn btn-primary" href="#">Registrarse</a>
            </span>
          </div>
        </div>
      </nav>
    </header>

    <main role="main">
      <hr />
      <div class="container mt-70">
        <div class="card">
          <h4 class="card-header">
            <strong>Datos de la oferta de trabajo</strong>
          </h4>
          <div class="card-body">
            <form
              th:action="@{/vacants/save}"
              method="post"
              enctype="multipart/form-data"
            >
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="name">Nombre</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      placeholder="Titulo de la oferta de trabajo"
                      required="required"
                    />
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="description">Descriptión</label>
                    <input
                      type="text"
                      class="form-control"
                      id="description"
                      name="description"
                      placeholder="Breve descripcion de la oferta de trabajo"
                      required="required"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" name="category" id="category">
                      <option value="1">Ventas</option>
                      <option value="2">Contabilidad</option>
                      <option value="3">Transporte</option>
                      <option value="4">Informatica</option>
                      <option value="5">Construccion</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" name="status" id="status">
                      <option value="Creada">Creada</option>
                      <option value="Aprobada">Aprobada</option>
                      <option value="Eliminada">Eliminada</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="date">Fecha de Publicación</label>
                    <input
                      type="text"
                      class="form-control"
                      name="date"
                      id="date"
                      placeholder="Fecha de publicacion"
                      required="required"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-check">
                    <label class="form-check-label" for="outstanding0"></label
                    ><br />
                    <input
                      class="form-check-input"
                      type="radio"
                      name="outstanding"
                      id="outstanding"
                      value="1"
                      checked="checked"
                    />
                    <label class="form-check-label" for="outstanding1"
                      >Destacado</label
                    >
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="outstanding"
                      id="outstanding"
                      value="0"
                    />
                    <label class="form-check-label" for="outstanding2"
                      >No Destacado</label
                    >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="salary">Salario Ofrecido (Aprox)</label>
                    <input
                      type="text"
                      class="form-control"
                      name="salary"
                      id="salary"
                      placeholder="Salario aproximado."
                      required="required"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="file">Imagen</label>
                    <input
                      type="file"
                      class="form-control-file"
                      name="file"
                      id="file"
                    />
                    <div th:if="${message}">
                      <p th:text="${message}"></p>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="details"><strong>Detalles</strong></label>
                    <textarea
                      class="form-control"
                      name="details"
                      id="details"
                      rows="7"
                    ></textarea>
                  </div>
                </div>
                <div class="col-md-3">
                  <label for="imagen">Imagen/Logo</label>
                  <img
                    class="rounded mx-auto d-block"
                    src="images/construccion-logo.png"
                    alt="Generic placeholder image"
                    width="200"
                    height="200"
                  />
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
          </div>
        </div>
      </div>
      <!-- /container -->
    </main>

    <footer class="footer">
      <div class="container">
        <p>
          &copy; 2019 EmpleosApp, Inc. | WebApp Desarrollada con Spring Boot
          2.1.2 | Autor: Iv&aacute;n E. Tinajero D&iacute;az | &middot;
          <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
        </p>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
