<!DOCTYPE html>
<html lang="en" xmlns:th="http://tymeleaf.org">
  <!--Para que sea una vista tymeleaf-->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <style>
      body {
        text-align: center;
      }
      .calcu-param {
        margin-bottom: 1em;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to the IMC calculator!</h1>

    <!-- Envia los parametros la ruta 'imc'. -->
    <form action="imc" method="get">
      <div class="calcu-param">
        <label>Weight (kg):</label>
        <input name="weight" type="text" />
      </div>
      <div class="calcu-param">
        <label>Height (mts):</label>
        <input name="height" type="text" />
      </div>
      <input type="submit" value="send" />
    </form>
  </body>
</html>
