<!DOCTYPE html>
<html lang="en" xmlns:th="http://tymeleaf.org">
  <!--Para que sea una vista tymeleaf-->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <h1>User information</h1>
    <p>Name: <span th:text="${user.name}">Default name</span></p>
    <p>Age: <span th:text="${user.age}">Default age</span></p>
  </body>
</html>
