<!DOCTYPE html>
<html lang="en" xmlns:th="http://tymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vacancy list</title>

    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <img th:src="@{/images/foto-mia.jpeg}" alt="canor">
    <h1 class="text-primary">Vacancy list</h1>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Id</th>
          <th>Name</th>
          <th>Date</th>
          <th>Salary</th>
          <th>Description</th>
          <th>Outstanding</th>
          <th>Detail</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="vacant : ${vacants}">
          <td>
            <!-- 'img' va a ser la variable temporal de cada iteracion. -->
            <img th:src="@{ {img} ( img=${vacant.image} ) }" alt="logo">
          </td>
          <th th:text="${vacant.id}"></th>
          <td th:text="${vacant.name}"></th>
          <td th:text="${vacant.date}"></th>
          <td th:text="${vacant.salary}"></th>
          <td th:text="${vacant.description}"></th>
          <!-- <td th:text="${vacant.outstanding == true ? 'Si' : 'No'}"></th> -->
          <td>
            <span th:if="${vacant.outstanding == true}" class="badge bg-success">Si</span>
            <span th:unless="${vacant.outstanding == true}" class="badge bg-danger">No</span>
          </td>
          <td>
            <!-- Generamos una url dinamica donde varia el id. -->
            <!-- http://localhost:8080/vacants/view/id -->
            <a th:href="@{/vacants/view/{id} ( id=${vacant.id} ) } " class="btn btn-success">Detail</a>
          </td>
          <td>
            <!-- http://localhost:8080/vacants/delete?id=3 -->
            <a th:href="@{/vacants/delete( id=${vacant.id} ) } " class="btn btn-danger">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
